<h1>Send Yourself A Picture</h1>
<form action="/arnold" method="POST">
  <input type="text" name="phone" placeholder="enter a phone number"/>
  <input type="text" name="message" placeholder="optional - include a text message"/>
  <input type="submit" value="Send me the picture!"/>
</form>
