<!doctype html
<html lang="en">
<head>
  <meta name='csrf-token' content='<%= session[:csrf] %>'>
  <script src="/js/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="/js/csrf.js" type="text/javascript"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="/css/textattak.css" rel="stylesheet">
</head>
<body><div class="body"><%= yield %></div></body>

</html>