<!doctype html
<html lang="en">
<head>
  <meta name='csrf-token' content='<%= session[:csrf] %>'>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap-formhelpers-phone.js"></script>
  <script src="/js/csrf.js"></script>
  <script src="/js/global.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
  <script src="https://js.braintreegateway.com/js/braintree-2.29.0.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="css/theme.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/textattak.css">
</head>
<div class="site-overlay"></div>

<header id="home">
  <div class="container-fluid">
    <div class="container jumbotron">
      <div class="row">
        <div class="col-md-12">
          <img src="/img/trump_dump_logo.png" alt="" class="img-fluid logo">
          <h3><strong>This is a simple text bomb.<br></strong></h3>
          <h6>It sends a bunch of insane Trump quotes and pics all at once.</h6>
          <br>
        <div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6 col-xs-12">
          <br>
          <img src="https://cdn.shopify.com/s/files/1/0925/4656/products/TrumpPhoneGif.gif?v=1447330656" alt="" class="img-fluid gif">
        </div>
        <div class="col-md-6 col-xs-12">
          <h3><strong>
            Use it to annoy your friends, enemies, and frenemies.
            <br> Remind them that electing this man is unacceptable.
          </strong></h3>
          <div class="panel col-xs-12">
          <%= yield %>
            <div class="powered_by">
              <label class="col-xs-12 col-form-label">Powered By:</label>
              <div class="col-md-6 col-xs-12">
                <img src="/img/powered_by.png" class="img-fluid">
              </div>
              <div class="col-md-6 col-xs-12">
                <img src="https://cdn.shopify.com/s/files/1/0925/4656/t/2/assets/logo.png?9538228193648145613" 
                class="img-fluid text-attak" alt="textattak">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<body><div class="token"><%= @client_token %></div>
</html>