<!doctype html
<html lang="en">
<head>
  <title>Send a Trumpf Dump text bomb!</title>
  <meta name="description" content="The only place to truly Dump Trump on a Trump supporter. Send them a Trumpf Dump text bomb!">
  <meta name='csrf-token' content='<%= session[:csrf] %>'>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap-formhelpers-phone.js"></script>
  <script src="/js/csrf.js"></script>
  <script src="/js/global.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
  <script src="https://js.braintreegateway.com/js/braintree-2.29.0.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85608585-1', 'auto');
    ga('send', 'pageview');

  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="css/theme.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/textattak.css">
  <link rel="shortcut icon" href="/img/favicon.png">
</head>
<div class="site-overlay"></div>

<header id="home">
  <div class="container-fluid">
    <div class="container jumbotron">
      <div class="row">
        <div class="col-md-12">
          <img src="/img/trump_dump_logo2.png" alt="" class="img-fluid logo">
        <div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6 col-xs-12">
          <h3><strong>
            Use it to annoy your friends, enemies, and frenemies. 
            <br>💩<br>
            Remind them that electing this man is unacceptable.
          </strong></h3>
          <div class="social">
            <div class="col-xs-6 fb-share-button" data-href="https://trumpfdump.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftrumpfdump.com%2F&amp;src=sdkpreparse">Share</a>
            </div>
            <div class="col-xs-6">
              <a class="twitter-share-button"
                text="Exercise your 1st Amendment. Take a Trumpf Dump at TrumpfDump.com #MakeAmericaDrumpfAgain"
                url="TrumpfDump.com"
                data-size="large"
                href="https://twitter.com/intent/tweet">Tweet
              </a>
            </div>
          </div>
          <div class="panel col-xs-12">
          <%= yield %>
            <div class="powered_by">
              <label class="col-xs-12 col-form-label">Powered By:</label>
              <div class="col-md-6 col-xs-12">
                <a href="http://braintreepayments.com" target="blank"><img src="/img/powered_by.png" class="img-fluid">
                  <br>
              </div>
              <div class="col-md-6 col-xs-12">
                <a href="https://textattak.com" target="blank"><img src="https://cdn.shopify.com/s/files/1/0925/4656/t/2/assets/logo.png?9538228193648145613" 
                class="img-fluid text-attak" alt="textattak"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <br>
          <img src="https://cdn.shopify.com/s/files/1/0925/4656/products/TrumpPhoneGif.gif?v=1447330656" alt="" class="img-fluid gif">
          <div class="col-xs-10 col-xs-offset-1 faq">
            <h5>FAQ</h5>
            <p>He's provided an unbelievable amount of material so every Trumpf Dump is different. Keep sending!</p>
            💩
            <p>We do not store any user data and cannot view credit card information.</p>
            💩
            <p>All transactions are PCI compliant and processed through BraintreePayments.com</p>
            💩
            <p>SMS spam regulations require a name for the person sending the text.</p>
            💩
            <p>US numbers only and standard text/data rates apply. Neither TrumpfDump.com nor TextAttak.com are not responsible for the cost of texts or data.</p>
            💩
            <p>Thanks to <a href="goatattack.com" target="blank">GoatAttack.com</a> for the inspiration.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<body><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
<div class="token"><%= @client_token %></div></body>
</html>