<h1>Create a new Attak</h1>
<form action="/new_attak" method="POST">
  NAME:<input type="text" name="name" placeholder="Attak Name"/>
  1<input type="text" name="1" placeholder="image url"/>
  <input type="text" name="21" placeholder="text message"/>
  2<input type="text" name="2" placeholder="image url"/>
  <input type="text" name="22" placeholder="text message"/>
  3<input type="text" name="3" placeholder="image url"/>
  <input type="text" name="23" placeholder="text message"/>
  4<input type="text" name="4" placeholder="image url"/>
  <input type="text" name="24" placeholder="text message"/>
  5<input type="text" name="5" placeholder="image url"/>
  <input type="text" name="25" placeholder="text message"/>
  6<input type="text" name="6" placeholder="image url"/>
  <input type="text" name="26" placeholder="text message"/>
  7<input type="text" name="7" placeholder="image url"/>
  <input type="text" name="27" placeholder="text message"/>
  8<input type="text" name="8" placeholder="image url"/>
  <input type="text" name="28" placeholder="text message"/>
  9<input type="text" name="9" placeholder="image url"/>
  <input type="text" name="29" placeholder="text message"/>
  10<input type="text" name="10" placeholder="image url"/>
  <input type="text" name="30" placeholder="text message"/>
  11<input type="text" name="11" placeholder="image url"/>
  <input type="text" name="31" placeholder="text message"/>
  12<input type="text" name="12" placeholder="image url"/>
  <input type="text" name="32" placeholder="text message"/>
  13<input type="text" name="13" placeholder="image url"/>
  <input type="text" name="33" placeholder="text message"/>
  14<input type="text" name="14" placeholder="image url"/>
  <input type="text" name="34" placeholder="text message"/>
  15<input type="text" name="15" placeholder="image url"/>
  <input type="text" name="35" placeholder="text message"/>
  16<input type="text" name="16" placeholder="image url"/>
  <input type="text" name="36" placeholder="text message"/>
  17<input type="text" name="17" placeholder="image url"/>
  <input type="text" name="37" placeholder="text message"/>
  18<input type="text" name="18" placeholder="image url"/>
  <input type="text" name="38" placeholder="text message"/>
  19<input type="text" name="19" placeholder="image url"/>
  <input type="text" name="39" placeholder="text message"/>
  20<input type="text" name="20" placeholder="image url"/>
  <input type="text" name="40" placeholder="text message"/>
  <input type="text" name="password" placeholder="the magic word"/>
  <input type="submit" value="Create New Attak!"/>
</form>
